.form-group {
  display: flex;
  flex-direction: column;
  .item-form-group {
    margin: 0 0 10px;
    display: flex;
    flex-direction: column;
    width: 200px;
    .invalid-feedback {
      color: red;
    }
  }
}
